<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Stevia-Test-Suite">

    <parameter name="rcHost" value="localhost" />
    <parameter name="rcPort" value="4444" />
    <parameter name="targetHostUrl" value="https://amazon.com" />
    <parameter name="debugging" value="true" />
    <parameter name="browser" value="chrome" />
    <parameter name="profile" value="" />
    <parameter name="driverType" value="webdriver" />
    <parameter name="actionsLogging" value="true" />
    <parameter name="tests.takeScreenshot" value="true" />
    <parameter name="suite.init.context" value="false" />


    <parameter name="dockerized" value="true"/>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="com.persado.oss.quality.stevia.selenium.listeners.TestListener"/>
    </listeners>


    <test name="Test Amazon Product Price" preserve-order="true">
        <classes>
            <class name="tests.VerifyProductPrice" />
        </classes>
    </test>

</suite>
